.navigation-show{
    left: 0 !important;
}

.hamburger-animation{
    .line1{
        width: 3.5rem !important;
        transform: rotateZ(45deg) translate(3px, 4px);
    }
    .line2{
        display: none;
    }
    .line3{
        width: 3.5rem !important;
        transform: rotateZ(-45deg) translate(2px, -2px);
    }
}

.events-click-right{
left: 0 !important;
}

.events-click-left{
left: -100% !important;
}