.header-primary{
    @include mobile-inscreen;

    h1{
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 1.5rem;
    }
}

.heading-secondary{
    @include mobile-inscreen;

    h2{
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
    }
}

.paragraph-short{
    p{
        font-size: 1.6rem;
        line-height: 2.7rem;
    }
}

.paragraph-long{
    p{
        font-size: 1.6rem;
        line-height: 2.7rem;
    }
}