.navigation-show {
  left: 0 !important; }

.hamburger-animation .line1 {
  width: 3.5rem !important;
  transform: rotateZ(45deg) translate(3px, 4px); }

.hamburger-animation .line2 {
  display: none; }

.hamburger-animation .line3 {
  width: 3.5rem !important;
  transform: rotateZ(-45deg) translate(2px, -2px); }

.events-click-right {
  left: 0 !important; }

.events-click-left {
  left: -100% !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: #191c27;
  color: #fff;
  box-sizing: border-box;
  overflow-x: hidden !important; }

.header-primary {
  width: 32rem;
  margin: 0 auto; }
  .header-primary h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.5rem; }
  .header-primary h3 {
    font-size: 1.6rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1.5rem; }

.heading-secondary {
  width: 32rem;
  margin: 0 auto; }
  .heading-secondary h2 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }

.paragraph-short > p:not(:last-child) {
  margin-bottom: 1rem; }

.paragraph-short p {
  font-size: 1.6rem;
  line-height: 2.7rem; }

.paragraph-long > p:not(:last-child) {
  margin-bottom: 1rem; }

.paragraph-long p {
  font-size: 1.6rem;
  line-height: 2.7rem; }

.btn {
  display: block;
  margin-top: 2rem;
  width: 12.5rem;
  height: 3rem;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #96192B;
  border-radius: 3px;
  box-shadow: 2px 3px 1px 0 #fff; }

.btn--blue {
  background-color: #191c27 !important; }

.btn--submit {
  margin: 0 !important;
  border: none;
  width: 8rem !important;
  height: 3rem !important; }

.contact-form {
  margin-top: 7rem; }
  .contact-form form {
    width: 32rem;
    margin: 0 auto; }
    .contact-form form > *:not(:last-child) {
      box-sizing: border-box;
      margin-bottom: 1.5rem;
      width: 32rem;
      height: 3rem;
      font-size: 1.6rem; }
    .contact-form form textarea {
      height: 15rem !important; }

header {
  width: 100%;
  height: 50vh;
  margin-bottom: 5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  header .header__navigation {
    height: 5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6); }
    header .header__navigation .navigation__content {
      width: 32rem;
      margin: 0 auto;
      height: 5rem;
      position: relative;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      align-items: center; }
      header .header__navigation .navigation__content .content__logo img {
        width: 23rem;
        height: auto;
        grid-column: 1/2; }
      header .header__navigation .navigation__content .content__hamburger {
        width: 3.5rem;
        grid-column: 2/3;
        z-index: 99; }
        header .header__navigation .navigation__content .content__hamburger .line {
          width: 3.2rem;
          height: 4px;
          background-color: #191c27;
          border-radius: 3px;
          transition: all .3s; }
        header .header__navigation .navigation__content .content__hamburger > *:not(:last-child) {
          margin-bottom: 4px; }
      header .header__navigation .navigation__content .content__menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: -200%;
        top: 0;
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all .3s; }
        header .header__navigation .navigation__content .content__menu > *:not(:last-child) {
          margin-bottom: 3rem; }
        header .header__navigation .navigation__content .content__menu a {
          color: #191c27;
          text-decoration: none; }

footer {
  width: 100%;
  margin: 7rem 0 3rem 0; }
  footer .section-footer {
    width: 32rem;
    margin: 0 auto;
    text-align: center; }
    footer .section-footer__some {
      margin-bottom: 2rem; }
      footer .section-footer__some > *:not(:last-child) {
        margin-right: 3rem; }
      footer .section-footer__some a {
        color: #fff; }
    footer .section-footer__content img {
      width: 29.5rem;
      height: auto;
      margin-bottom: 1rem; }
    footer .section-footer__content p {
      font-size: 1.6rem; }
      footer .section-footer__content p a,
      footer .section-footer__content p a::after,
      footer .section-footer__content p a::before {
        color: #fff;
        text-decoration: none; }

.main-seasonal {
  width: 100%; }
  .main-seasonal__content {
    margin: 7rem 0 5rem 0; }
  .main-seasonal__starters--image {
    width: 100%;
    height: 30rem;
    margin: 7rem 0 5rem 0; }
  .main-seasonal__maincourse--image {
    display: none; }
  .main-seasonal__desserts--image {
    width: 100%;
    height: 30rem;
    margin: 7rem 0 5rem 0; }

.header__about {
  background-image: url(../image/mobile/about/team.jpg); }

.main-about .main__header .header__content > p:not(:last-child) {
  margin-bottom: 2rem; }

.main-about .main__content--section-one {
  width: 100%; }
  .main-about .main__content--section-one .section-one__img {
    width: 100%;
    height: 25rem;
    margin: 7rem 0 4rem 0; }
    .main-about .main__content--section-one .section-one__img img {
      width: 100%;
      height: 25rem; }
  .main-about .main__content--section-one .section-one__content > p:not(:last-child) {
    margin-bottom: 2rem; }

.header__landing {
  background-image: url(../image/mobile/headers/home.jpg); }

.main-home {
  width: 100%; }
  .main-home > *:not(:first-child) {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    background-size: cover !important; }
  .main-home .main__content--section-one {
    width: 100%;
    background: linear-gradient(0deg, rgba(25, 28, 39, 0.8), rgba(25, 28, 39, 0.8)), url(../image/mobile/landing/menu.jpg) center no-repeat;
    margin-top: 7rem; }
  .main-home .main__content--section-two {
    background: linear-gradient(0deg, rgba(150, 25, 43, 0.8), rgba(150, 25, 43, 0.8)), url(../image/mobile/landing/events.jpg) center no-repeat; }

.header__menu {
  background-image: url(../image/mobile/headers/menu.jpg); }

.menu-photo {
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden; }
  .menu-photo a {
    position: absolute;
    padding: 7.5rem;
    top: 0;
    left: 0; }
  .menu-photo::after {
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.menu-item-content {
  display: none; }

.main-menu .main__content--section-one {
  margin-top: 7rem !important;
  width: 32rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  justify-content: space-between;
  align-content: space-between !important; }
  .main-menu .main__content--section-one .section-one__winter--img {
    background: linear-gradient(0deg, rgba(16, 159, 222, 0.7), rgba(16, 159, 222, 0.7)), url(../image/mobile/menu/winter.jpg) center no-repeat; }
    .main-menu .main__content--section-one .section-one__winter--img::after {
      content: "WINTER"; }
  .main-menu .main__content--section-one .section-one__spring--img {
    background: linear-gradient(0deg, rgba(161, 230, 87, 0.7), rgba(161, 230, 87, 0.7)), url(../image/mobile/menu/spring.jpg) center no-repeat; }
    .main-menu .main__content--section-one .section-one__spring--img::after {
      content: "SPRING"; }
  .main-menu .main__content--section-one .section-one__summer--img {
    background: linear-gradient(0deg, rgba(247, 232, 87, 0.7), rgba(247, 232, 87, 0.7)), url(../image/mobile/menu/summer.jpg) center no-repeat; }
    .main-menu .main__content--section-one .section-one__summer--img::after {
      content: "SUMMER"; }
  .main-menu .main__content--section-one .section-one__autumn--img {
    background: linear-gradient(0deg, rgba(212, 105, 74, 0.7), rgba(212, 105, 74, 0.7)), url(../image/mobile/menu/autumn.jpg) center no-repeat; }
    .main-menu .main__content--section-one .section-one__autumn--img::after {
      content: "AUTUMN"; }

.header__events {
  background-image: url(../image/mobile/events/events.jpg); }

.main-events .arrow {
  color: #96192B;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.main-events .main__content--section-one {
  width: 100%;
  height: 30rem;
  position: relative;
  margin-top: 7rem; }
  .main-events .main__content--section-one .section-one__wedding {
    background: url(../image/mobile/events/wedding_label.jpg) center no-repeat;
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 0;
    left: 0; }
    .main-events .main__content--section-one .section-one__wedding .arrow-right {
      right: 0; }
    .main-events .main__content--section-one .section-one__wedding .wedding .header__content {
      display: none; }
  .main-events .main__content--section-one .section-one__confirmation {
    background: url(../image/mobile/events/confirmation_label.jpg) center no-repeat;
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 0;
    right: 100%; }
    .main-events .main__content--section-one .section-one__confirmation .arrow-left {
      left: 0; }
    .main-events .main__content--section-one .section-one__confirmation .confirmation .header__content {
      display: none; }

.header__winter {
  background-image: url(../image/mobile/winter/landing.jpg); }

.starters-winter {
  width: 100%;
  background: url(../image/mobile/winter/starters.jpg) no-repeat center; }

.desserts-winter {
  width: 100%;
  background: url(../image/mobile/winter/desserts.jpg) no-repeat center; }

.header__spring {
  background-image: url(../image/mobile/spring/landing.jpg); }

.starters-spring {
  background: url(../image/mobile/spring/starters.jpg) center no-repeat; }

.desserts-spring {
  background: url(../image/mobile/spring/dessert.jpg) center no-repeat; }
