.main-ind-event{
    width: 100%;

    @include responsive(desktop){
        width: 114rem;
        margin:  0 auto;
    }

    .eventsbody{
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;

        @include responsive(desktop){
            @include grid-menu;
            margin-bottom: 5rem !important;
        }

        &--image{
            width: 100%;
            height: 50rem;
            grid-row: 1/2;
            grid-column: 1/2;

            @include responsive(desktop){
                width: 57rem
                height  55rem;
                grid-column: 1/7;
            }
        }

        &--content{
            grid-row: 1/2;
            grid-column: 1/2;

            @include responsive(desktop){
                grid-column: 7/13;
                justify-self: end;
            }
        }
    }

    &__section-one{
        @include mobile-body-margins;

        .one-wedding{
            background: linear-gradient(0deg, rgba($color-red, .9), rgba($color-red, .9)), url(../image/mobile/wedding/menu.jpg) center no-repeat;;
            @include responsive(desktop){
                background: url(../image/desktop/events/wedding/menu.jpg);
            }
        }

        .one-confrimation{
            background: linear-gradient(0deg, rgba($color-red, .9), rgba($color-red, .9)), url(../image/mobile/confirmation/apertizers.jpg) center no-repeat;

            @include responsive(desktop){
                background: url(../image/desktop/events/confirmation/apertizers.jpg);
            }
        }

    }

    &__section-two{

        &--image{
            background: linear-gradient(0deg, rgba($color-blue, .9), rgba($color-blue, .9)), url(../image/mobile/confirmation/buffet.jpg) center no-repeat;

            @include responsive(desktop){
                grid-column: 7/13 !important;
                background: url(../image/desktop/events/confirmation/buffet.jpg);
            }
        }

        &--content{
            @include responsive(desktop){
                grid-column: 1/7 !important;
                justify-self: start !important;
            }
        }
    }

    &__section-three{

        &--image{
            height: 75rem !important;
            background: linear-gradient(0deg, rgba($color-red, .9), rgba($color-red, .9)), url(../image/mobile/confirmation/meals.jpg) center no-repeat;

            @include responsive(desktop){
                background: url(../image/desktop/events/confirmation/meals.jpg);
            }
        }
    }

    &__section-four{

        &--image{
            background: linear-gradient(0deg, rgba($color-blue, .9), rgba($color-blue, .9)), url(../image/mobile/confirmation/desserts.jpg) center no-repeat;

            @include responsive(desktop){
                grid-column: 7/13 !important;
                background: url(../image/desktop/events/confirmation/desserts.jpg);
            }
        }

        &--content{
            @include responsive(desktop){
                grid-column: 1/7 !important;
                justify-self: start !important;
            }
        }
    }




}