header{
    width: 100%;
    height: 50vh;
    margin-bottom: 5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include responsive(desktop){
        height: 65vh;
        margin-bottom: 10rem;
    }

    .header__navigation{
        height: 5rem;
        width: 100%;
        background-color: rgba($color-white, $alpha: .6);
        position:fixed;
        z-index: 100;

        @include responsive(desktop){
            height: 7rem
        }

        .navigation__content{
           @include mobile-inscreen;
           height: 5rem;
           position: relative;

           display: grid;
           grid-template-rows: 1fr;
           grid-template-columns: repeat(2, auto);
        //    justify-content: space-between;
           align-items: center;

           @include responsive(desktop){
               width: 114rem !important;
               height: 7rem;
               grid-template-columns: 30rem 1fr;

            
           }

           .content__logo{

            @include responsive(desktop){
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
               }
           }

           .content__logo img{
               width: 23rem;
               height: auto;
               grid-column: 1/2;

               @include responsive(desktop){
                   width: 30rem;
                   z-index: 99;
               }
 
           }

           .content__hamburger{
                width: 3.5rem;
                grid-column: 2/3;
                z-index: 99;
                justify-self: end;

                @include responsive(desktop){
                    display: none;
                }
                

                .line{
                    width: 3.2rem;
                    height: 4px;
                    background-color: $color-blue;
                    border-radius: 3px;
                    transition: all .3s;
                    
                }
                &>*:not(:last-child){
                    margin-bottom: .4rem;
                }
           }
           
           .content__menu{
               width: 100%;
               height: 100vh;
               position: fixed; 
               left: -200%;
               top: 0;
               background-color: rgba($color-white, $alpha: .9);
               font-size: 3rem;
               font-weight: 600;
               text-align: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
               transition: all .3s;

               @include responsive(desktop){
                position: absolute;
                flex-direction: row;
                display: inline;
                text-align: right;
                grid-row: 1/2;
                grid-column: 2/3;
                width: auto;
                padding: 0 !important;
                margin: 0 !important;
                background: none;
                height: auto !important;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0 !important;

               }

                    ul{
                    list-style: none;

                        li{
                            @include responsive(desktop){
                                display: inline-block !important;
                            }
                        }

                        &>*:not(:last-child){
                            margin-bottom: 3rem;
                            @include responsive(desktop){
                                margin: 0 !important;
                            }
                        }

                        &>*:not(:first-child){
                            margin-left: 2rem !important;
                        }

                        a{
                            color: $color-blue;
                            text-decoration: none;
                            font-size: 2.5rem;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }


           }
        }
    }
}