.main-seasonal{
    width: 100%;

    @include responsive(desktop){
        @include desktop-body;

        display: grid;

        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .main__header{
        @include responsive(desktop){
            grid-row: 1/2;
            grid-column: 1/13;
        }
    }

    
    &__content{
        @include mobile-body-margins;

        @include responsive(desktop){
            width: 49rem !important;
        }
    }

    // starters
    &__starters--image{
        @include mobile-bodyimage;
        @include mobile-body-margins;
        background-size: cover !important;

        @include responsive(desktop){
            width: 57rem !important;
            height: 55rem !important;
            grid-row: 2/3;
            grid-column: 1/7;
        }
    }

    &__starters{
        @include responsive(desktop){
            grid-row: 2/3;
            grid-column: 7/13;  
            justify-self: end;
            align-self: center;
        }
    }

    // main course

    &__maincourse--image{
        display: none;
        @include responsive(desktop){
            margin-top: 5rem !important;
            width: 57rem !important;
            height: 55rem !important;
            display: block;
            grid-row: 3/4;
            grid-column: 7/13;
        }

    }

    &__maincourse{
        @include responsive(desktop){
            grid-row: 3/4;
            grid-column: 1/7;
            justify-self: start;
            align-self: center;
        }
    }


    // desserts

    &__desserts--image{
        @include mobile-bodyimage;
        @include mobile-body-margins;
        background-size: cover !important;

        @include responsive(desktop){
            margin-top: 5rem !important;
            width: 57rem !important;
            height: 55rem !important;
            grid-row: 4/5;
            grid-column: 1/7;
        }
    }

    &__desserts{
        @include responsive(desktop){
            grid-row: 4/5;
            grid-column: 7/13;
            justify-self: end;
            align-self: center;
        }
    }


}

