.main-seasonal{
    width: 100%;

    
    &__content{
        @include mobile-body-margins;
    }

    &__starters--image{
        @include mobile-bodyimage;
        @include mobile-body-margins;
        background-size: cover !important
    }

    &__maincourse--image{
        display: none;
    }

    &__desserts--image{
        @include mobile-bodyimage;
        @include mobile-body-margins;
        background-size: cover !important;
    }
}

