.header__autumn{
    background-image: url(../image/mobile/autumn/landing.jpg);
}

.starters-autumn{
    background: url(../image/mobile/autumn/starters.jpg) center no-repeat;
}

.desserts-autumn{
    background: url(../image/mobile/autumn/dessert.jpg) center no-repeat;
}