.header__events{
    background-image: url(../image/mobile/events/events.jpg);
}

.main-events{

    .arrow{
        color: $color-red;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include responsive(desktop){
            display: none;
        }
        
    }

    .main__content--section-one{
        @include mobile-bodyimage;
        position: relative;
        margin-top: 7rem;

        @include responsive(desktop){
            width: 114rem;
            height: 115rem !important;
            margin: 10rem auto 0 auto;
        }

        .section-one__wedding{
            background: url(../image/mobile/events/wedding_label.jpg) center no-repeat;
            @include mobile-bodyimage;
            position: absolute;
            top: 0;
            left: 0;

            @include responsive(desktop){
                position: static;
                width: 114rem;
                height: 55rem !important;
                background: none;
                margin-bottom: 5rem !important;
            }
            

            &--link{
                display: block;
                width: 100%;
                height: 30rem;

                @include responsive(desktop){
                    display: none;
                }
            }

            .arrow-right{
                right: 0;
            }

            .wedding{

                @include responsive(desktop){
                    @include grid-menu;
                    
                }

                &__image{

                    @include responsive(desktop){
                        height: 55rem !important;
                        grid-row: 1/2;
                        grid-column: 1/7;
                        background: url(../image/desktop/events/wedding.jpg);
                    }
                }
                
                .header__content{
                    display: none;

                    @include responsive(desktop){
                        display: block;
                        grid-row: 1/2;
                        grid-column: 7/13;
                        align-self: center;
                        justify-self: end;
                    }
                }
            }
        }

        .section-one__confirmation{
            background: url(../image/mobile/events/confirmation_label.jpg) center no-repeat;
            @include mobile-bodyimage;
            position: absolute;
            top: 0;
            right: 100%;

            @include responsive(desktop){
                position: static;
                width: 114rem;
                background: none;
            }
            

            &--link{
                display: block;
                width: 100%;
                height: 30rem;

                @include responsive(desktop){
                    display: none;
                }

            }

            .arrow-left{
                left: 0;
            }

            .confirmation{

                @include responsive(desktop){
                    @include grid-menu;
                }

                &__image{
                    @include responsive(desktop){
                        height: 55rem !important;
                        grid-row: 1/2;
                        grid-column: 7/13;
                        background: url(../image/desktop/events/confirmation.jpg) center no-repeat;
                    }
                }

                .header__content{
                    display: none;

                    @include responsive(desktop){
                        display: block;
                        grid-row: 1/2;
                        grid-column: 1/7;
                        align-self: center;
                        justify-self: end;
                    }
                }
            }
        }

    }
}