
.header__gallery{
    background-image: url(../image/mobile/gallery/landing.jpg);
    @include responsive(desktop){
        background-image: url(../image/desktop/gallery/gallery.jpg);
    }
}

.main-gallery{

    .gallery-layout{
        width: 100%;
        margin-top: 7rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);

        @include responsive(desktop){
            @include desktop-body;
            grid-template-columns: repeat(3, 1fr) !important;
            grid-template-rows: repeat(3, auto);
            grid-gap: 3rem;
        }

        
        .gallery_img{
            width: 100%;
            height: auto;
        }

        .gallery-title{
            text-align: center !important;
            grid-row: 1/2;;
            grid-column: 1/13;

            @include responsive(desktop){
                grid-column: 1/4;
                justify-self: center;
            }
            
        }

        .gallery_image1{
            grid-column: 1/7;
            grid-row: 2/3;

            @include responsive(desktop){
                grid-column: 1/2;
            }
        }
        .gallery_image2{
            grid-column: 7/13;
            grid-row: 2/3;
            @include responsive(desktop){
                grid-column: 2/3;
            }

        }

        .gallery_image3{
            grid-row: 3/4;
            grid-column: 1/7;
            @include responsive(desktop){
                grid-row: 2/3;
                grid-column: 3/4;
            }

        }

        .gallery_image4{
            grid-row: 3/4;
            grid-column: 7/13;
            @include responsive(desktop){
                grid-column: 1/2;
            }

        }

        .gallery_image5{
            grid-row: 4/5;
            grid-column: 1/7;
            @include responsive(desktop){
                grid-row: 3/4;
                grid-column: 2/3;
            }

        }

        .gallery_image6{
            grid-row: 4/5;
            grid-column: 7/13;
            @include responsive(desktop){
                grid-row: 3/4;
                grid-column: 3/4;
            }

        }


        
    }

    .main-gallery__gastronomy{
        
    }


}