.header__landing{
    background-image: url(../image/mobile/headers/home.jpg);
    @include responsive(desktop){
        background-image: url(../image/desktop/main/landing_desktop.jpg);
    }
}

.main-home{
    width: 100%;

    @include responsive(desktop){
        @include desktop-body;

    }

    &>*:not(:first-child){
        width: 100%;
        height: 40rem;
        display: flex;
        align-items: center;
        background-size: cover !important;
    }

    .main__header{
        @include responsive(desktop){
            grid-row: 1/2;
            grid-column: 1/13;
        }
    }

    .main__content--section-one{
        width: 100%;
        background: linear-gradient(0deg, rgba($color-blue, .8), rgba($color-blue, .8)), url(../image/mobile/landing/menu.jpg) center no-repeat;
        margin-top: 7rem;

        @include responsive(desktop){
            height: 55rem !important;
            margin: 10rem 0 5rem 0;

            background: none;

            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
        }

        .section-one__img{
            @include responsive(desktop){
                width: 100%;
                height: 100%;
                grid-row: 1/2;
                grid-column: 1/7;
                background: url(../image/desktop/main/menu.jpg) center no-repeat;
            }
        }

        .section-one__content{
            @include responsive(desktop){
                grid-row: 1/2;
                grid-column: 7/13;
                justify-self: end;
            }
        }

    }

    .main__content--section-two{
        background: linear-gradient(0deg, rgba($color-red, .8), rgba($color-red, .8)), url(../image/mobile/landing/events.jpg) center no-repeat;

        @include responsive(desktop){
            height: 55rem !important;
            background: none;

            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;   
            justify-content: space-between;
        }

        .section-two__img{
            @include responsive(desktop){
                width: 100%;
                height: 100%;
                grid-row: 1/2;
                grid-column: 7/13;
                background: url(../image/desktop/main/events.jpg) center no-repeat;
            }
        }
        .section-two__content{
            @include responsive(desktop){
                grid-row: 1/2;
                grid-column: 1/7;
            }

            .btn--blue{
                @include responsive(desktop){
                    background-color: $color-red !important;
                }
            }
        }

    }

    .main__content--section-three{
        @include responsive(desktop){

            height: 70rem !important;
        }
    }
}