.header__summer{
    background-image: url(../image/mobile/summer/landing.jpg);
}

.starters-summer{
    background: url(../image/mobile/summer/starters.jpg) center no-repeat;
}

.desserts-summer{
    background: url(../image/mobile/summer/dessert.jpg) center no-repeat;
}