.header__winter{
    background-image: url(../image/mobile/winter/landing.jpg);
}

.starters-winter{
    width: 100%;
    background: url(../image/mobile/winter/starters.jpg) no-repeat center;
    
}

.desserts-winter{
    width: 100%;
    background: url(../image/mobile/winter/desserts.jpg) no-repeat center;
    
}

